/* Banner section */

.banner-section {
    background-image: url('../Images/BG.png');
    padding: 200px 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner-section .main-banner-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 -30px;
}

.banner-section .banner-content-block {
    width: calc(40% - 60px);
    margin: 0 30px;
}

.banner-section .banner-content-block h1 {
    text-transform: uppercase;
    position: relative;
    margin-bottom: 25px;
}

.banner-section .banner-happy-patient {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 25px 0 70px;
}

.banner-section .banner-happy-patient img {
    width: 40px;
}

.banner-section .banner-button-block {
    display: flex;
    align-items: center;
    gap: 10px;
}

.banner-section .banner-button-block a {
    display: flex;
    align-items: center;
    gap: 12px;
    justify-content: center;
    width: fit-content;
}

.banner-section .banner-button-block a img {
    width: 30px;
}

.banner-section .banner-button-block a.play-button img {
    width: 55px;
}

.banner-section .banner-content-block h1::after {
    content: url('../Images/Light-blue-Line.png');
    position: absolute;
    bottom: -12px;
    left: 0;
}

.banner-section .banner-content-block h1 span>img {
    width: 50px;
    height: 50px;
}

.banner-section .banner-image-block {
    width: calc(60% - 60px);
    margin: 0 30px;
    position: relative;
    z-index: 1;
}

.banner-section .banner-vector-img {
    position: absolute;
    top: -15%;
    z-index: -1;
}

.banner-section .banner-image-block img {
    display: flex;
    align-items: end;
    position: relative;
}


/* About Section */

.about-section {
    padding: 125px 0;
}

.about-section .about-main-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.about-section .left-image-block {
    width: calc(40% - 22px);
    margin-right: 22px;
}


.about-section .right-content-block {
    width: calc(60% - 22px);
    margin-left: 22px;
}

.about-section .small-caption p {
    color: #0F386A;
    font-size: 20px;
    margin-bottom: 10px;
}

.about-section .about-content p {
    color: #5E5E5E;
    margin: 20px 0 30px;
}

.about-section .about-time-block ul li {
    display: flex;
    list-style-type: disc;
    position: relative;
    padding-left: 20px;
}

.about-section .about-time-block ul li::before {
    content: '•';
    position: absolute;
    left: 0;
    color: #5E5E5E;
}

.about-section .about-time-block ul li h5 {
    font-weight: 400;

}

.about-section .about-button-block {
    margin-top: 50px;
}

.about-section .about-button-block a {
    display: flex;
    gap: 10px;
    align-items: center;
    width: fit-content;
}

.about-section .about-button-block a img {
    width: 16px;
    height: 16px;
}