@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  outline: none;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: #fff;
  font-size: 18px;
  line-height: 27px;
}

.page-center {
  max-width: 1150px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

a {
  color: #07A5C3;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #0F386A;
  outline: 0;
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

/* Headings */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 10px;
}

h1 {
  font-size: 58px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 30px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 16px;
}

h6 {
  font-size: 14px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 45px;
  }

  h2 {
    font-size: 34px;
  }

  h3 {
    font-size: 28px;
  }

  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }

  h6 {
    font-size: 14px;
  }
}

/* Buttons */
.button {
  background: #07A5C3;
  border: 2px solid #07A5C3;
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
  display: inline-block;
  padding: 20px 30px;
  cursor: pointer;
  transition: background 0.3s;
  box-shadow: 0px 4px 25px 0px #07A5C366;
}

.button:hover {
  background: transparent;
  border: 2px solid #07A5C3;
  color: #07A5C3;
}

/* Form Styling */
input {
  background-color: #fff;
  border-radius: 8px;
  padding: 17px 25px;
  font-size: 16px;
  line-height: 28.4px;
  font-weight: 400;
  color: #0F386A;
  width: 100%;
  border: 1px solid #fff;
}

input:focus {
  outline: none;
}

::placeholder {
  color: #999999;
  font-size: 16px;
  line-height: 28.4px;
  font-weight: 400;
}

/* ==================================================================================================================== */

/* Header CSS */
header.header-main {
  background-color: transparent;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); */
}

header.scroll{
  background-color: #0F386A;
}

header.header-main .page-center {
  max-width: 1295px;
  padding: 0 15px;
  width: 100%;
  margin: 0 auto;
}

.header-main .main-header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0;
}

.header-main .header-logo img {
  max-width: 232px;
}

.header-main .header-logo {
  width: 20%;
}

.header-main .nav-main-menu {
  width: 80%;
}

.header-main .navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header-main .logo {
  color: white;
  font-size: 24px;
}

.header-main .nav-links {
  display: flex;
  list-style: none;
}

.header-main .nav-links li {
  position: relative;
}

.header-main .nav-links a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.header-main .dropdown-menu {
  display: none;
  position: absolute;
  width: 150px;
  top: 100%;
  left: 0;
  background-color: #fff;
  list-style: none;
  padding: 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.header-main .dropdown.open .dropdown-menu {
  display: block;
  /* Show dropdown when open class is present */
}

.header-main .dropdown-menu li a {
  padding: 15px;
  color: #0F386A;
  text-align: center;
}

.header-main .dropdown-menu li a:hover {
  opacity: 0.7;
  border-bottom: 1px solid #0F386A;
}

/* Hamburger menu styles */
.header-main .hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  transition: all 0.3s ease;
}

.header-main .hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 4px;
  transition: all 0.3s ease;
}

.header-main .hamburger.active span:nth-child(1) {
  transform: rotate(45deg);
  position: relative;
  top: 14px;
}

.header-main .hamburger.active span:nth-child(2) {
  opacity: 0;
}

.header-main .hamburger.active span:nth-child(3) {
  transform: rotate(-45deg);
  position: relative;
  top: -8px;
}

.header-main .dropdown>a::after {
  content: '\f107';
  /* Down arrow */
  font-size: 12px;
  font-family: fontAwesome;
  color: white;
  padding-left: 8px;
  display: inline-block;
}

.header-main .dropdown.open>a::after {
  content: '\f106';
  /* Up arrow */
  font-family: fontAwesome;
}




@media (max-width: 1199px) {
  .header-main .header-logo img {
    max-width: 180px;
  }

  .header-main .nav-links a {
    padding: 10px 10px;
    font-size: 12px;
  }
}

@media (max-width: 991px) {
  .header-main .nav-links {
    position: absolute;
    top: 80px;
    right: 0;
    overflow: auto;
    background-color: #0F386A;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    z-index: 99;
    display: none;
    transition: height 0.3s ease;
  }

  .header-main .hamburger-button{
    padding: 20px;
  }
 
  .header-main .header-button{
    display: none;
  }

  .header-main .header-logo {
    width: 50%;
  }

  .header-main .nav-main-menu {
    width: 50%;
  }

  .header-main .navbar {
    justify-content: right;
  }

  .header-main .nav-links li {
    width: 100%;
    position: relative;
  }

  .header-main .nav-links a {
    padding: 18px;
    font-size: 18px;
    width: 100%;
    color: #fff;
  }

  .header-main .nav-links.show {
    display: flex;
    padding-top: 50px;
    height: 100vh;
  }

  /* For mobile dropdown */
  .header-main .dropdown-menu {
    position: static;
    background-color: transparent;
    padding: 0 20px;
    width: 100%;
    box-shadow: none;
  }

  .header-main .dropdown-menu li {
    text-align: left;
    padding: 0;
    border-bottom: 1px solid #fff;

  }

  .header-main .dropdown-menu li a {
    padding-left: 15px;
    color: #fff;
    text-align: left;
  }

  /* Mobile hamburger */
  .header-main .hamburger {
    display: flex;
    z-index: 999;
  }

 
}


/* Footer CSS */

footer.footer-main {
  background-color: #0F386A;
  padding: 75px 0;
}

.footer-main .main-footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 -20px;
}

.footer-main .logo-social-block {
  width: calc(30% - 40px);
  margin: 0 20px;
}

.footer-main .logo-social-block p {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #fff;
  margin: 20px 0 50px;
}

.footer-main .logo-social-block .footer-social-icons a {
  margin: 0 6.5px;
}

.footer-main .footer-newsletter-form form {
  position: relative;
}

.footer-main .footer-newsletter-form form .submit-button {
  position: absolute;
  right: 25px;
  top: 20px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.footer-main .footer-newsletter-form {
  margin-bottom: 20px;
}



.footer-main .footer-link-1 {
  width: calc(20% - 100px);
  margin: 0 50px;
}

.footer-main .footer-link-1 ul li h4,
.footer-main .footer-link-2 ul li h4,
.footer-main .footer-link-3 ul li h4 {
  color: #fff;
  opacity: 0.5;
  font-weight: 600;
  line-height: 27px;
  margin: 0 0 20px;
}

.footer-main .footer-link-1 ul li a,
.footer-main .footer-link-2 ul li a {
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.footer-main .footer-link-1 ul li a:hover,
.footer-main .footer-link-2 ul li a:hover {
  opacity: 0.5;
}

.footer-main .footer-link-2 {
  width: calc(20% - 40px);
  margin: 0 20px;
}

.footer-main .footer-link-3 {
  width: calc(30% - 40px);
  margin: 0 20px;
}

.footer-main .footer-link-3 ul.hours-list li {
  display: flex;
  align-items: center;
}

.footer-main .footer-link-3 ul.hours-list li p {
  margin: 0 22px 0;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  position: relative;
}

.footer-main .footer-link-3 ul.hours-list li {
  margin: 0 0 16px;
}

.footer-main .footer-link-3 ul.hours-list li p:before {
  content: url('../Images/Watchicon.png');
  position: absolute;
  left: -20px;
}

.footer-main .footer-link-3 ul.hours-list li span {
  color: #fff;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
}





@media (max-width: 991px) {
  .footer-main .main-footer-wrapper {
    margin: 0 0;
  }

  .footer-main .logo-social-block {
    width: calc(50% - 40px);
    margin: 0 20px 40px;
  }

  .footer-main .footer-link-1 {
    width: calc(50% - 100px);
    margin: 0 50px 40px;
  }

  .footer-main .footer-link-2 {
    width: calc(50% - 40px);
    margin: 0 20px;
  }

  .footer-main .footer-link-3 {
    width: calc(50% - 40px);
    margin: 0 20px;
  }
}



@media (max-width: 768px) {
  .footer-main .main-footer-wrapper {
    margin: 0 0;
  }

  .footer-main .logo-social-block {
    width: calc(60% - 40px);
    margin: 0 20px 40px;
  }

  .footer-main .footer-link-1 {
    width: calc(40% - 80px);
    margin: 0 40px 40px;
  }

  .footer-main .footer-link-2 {
    width: calc(40% - 40px);
    margin: 0 20px;
  }

  .footer-main .footer-link-3 {
    width: calc(60% - 40px);
    margin: 0 20px;
  }
}



@media (max-width: 500px) {


  .footer-main .logo-social-block {
    width: 100%;
    margin: 0 0 20px;
  }

  .footer-main .footer-link-1 {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .footer-main .footer-link-2 {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .footer-main .footer-link-3 {
    width: 100%;
    margin: 0 0 20px;
    text-align: center;
  }

  .footer-main .footer-link-3 ul.hours-list li {
    justify-content: center;
  }

  .footer-main .logo-social-block p {
    margin: 20px 0 30px;
  }
}

/* End Footer CSS */